* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #01255c;
}

.app {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f5f5f5;
  margin-top: 50px;
  padding: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}
.question {
  width: 80%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  overflow: hidden;
}
.answer {
  width: 80%;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}
.btn {
  width: 80%;
  padding: 10px 30px;
  background: #fff;
  border-radius: 30px;
  color: #01255c;
  text-decoration: none;
  font-size: 18px;
  margin: 10px;
  transition: 0.5s;
  cursor: pointer;
  display: none;
}
.btn:hover {
  background: #01255c;
  color: #fff;
}
.controls {
  width: 80%;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}
.next-button {
  width: 80%;
  padding: 10px 30px;
  background: #01255c;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin: 10px;
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
}
.next-button:hover {
  background: #fff;
  color: #01255c;
}

.review {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f5f5f5;
  margin-top: 50px;
  padding: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  display: none;
}
.text {
  margin-top: 10px;
  font-size: 50px;
}
.score {
  margin: 10px 0;
  font-size: 60px;
}
hr {
  border: 1px solid #000;
  width: 100%;
  border-radius: 5px;
}
.max-score {
  margin-top: 10px;
  font-size: 45px;
}
.awesome {
  min-width: 150px;
  min-height: 150px;
  position: absolute;
  bottom: 50%;
  right: 50%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: red;
  transform: translate(200%, 50%);
  -webkit-transform: translate(200%, 50%);
  -moz-transform: translate(200%, 50%);
  -ms-transform: translate(200%, 50%);
  -o-transform: translate(200%, 50%);
  display: none;
}

@media (max-width: 480px) {
  .app {
    padding: 10px;
  }
  .question {
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
    overflow: hidden;
    word-wrap: break-word; /* make the words in new line */
    text-overflow: ellipsis; /* or 'clip' based on your preference */
  }
  .answer {
    width: 100%;
    padding: 10px;
  }
  .btn {
    width: 80%;
    padding: 10px 30px;
    font-size: 18px;
    margin: 10px;
  }
  .next-button {
    width: 80%;
    padding: 10px 30px;
    font-size: 18px;
    margin: 10px;
  }
  .awesome {
    min-width: 100px;
    min-height: 100px;
    transform: translate(135%, 80%);
    -webkit-transform: translate(135%, 80%);
    -moz-transform: translate(135%, 80%);
    -ms-transform: translate(135%, 80%);
    -o-transform: translate(135%, 80%);
  }
}
